body {
    display: flex;
    background-color: darkturquoise;
    position: center;
}

section {
    display: flex;
    background-color: brown;
    margin-top: 280px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 280px;
    padding: 50px 50px 50px 50px;
}
.box {
    display: flexbox;
    background-color: coral;
    margin: 70px;
    height: 80px;
}

.container {
 display: flexbox;
 position: sticky;
 margin: 20px;
 width: 40px 30px 20px 10px;
}


.btn1 {
    margin: 25px;
    top: 50px;
    background-color: red;
    position: center;
}

.btn2 {
    margin: 20px;
    background-color: blue;
}

.btn3 {
    margin: 20px;
    background-color: orangered;
}

.btn4 {
    background-color: goldenrod;
    display: block;
}

.btn5 {
    background-color: gray;
}

.category {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: olive;
}

.number {
    color: black;
    font-family: sans-serif;
    display: inline-flex;
}